#footer > .ct-section-inner-wrap {
  padding-top: 0;
}

#footer {
  background-color: #360484;
  color: #fff;
  position: relative;
  z-index: 1;
}

@media (max-width: 1400px) {
  #footer > .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
  }
}

#div_block-56-17 {
  color: #360484;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -40px;
  margin-bottom: 120px;
}

#div_block-3-17 {
  width: 100%;
  flex-direction: row;
  display: flex;
}

#div_block-8-17 {
  width: 34%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 6%;
}

#div_block-74-31 {
  flex-direction: row;
  display: flex;
  margin-top: 13px;
}

#div_block-234-17 {
  width: 60%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

#div_block-6-17 {
  width: 100%;
  flex-direction: row;
  display: flex;
  font-size: 12px;
}

#div_block-4-17 {
  width: 100%;
}

#div_block-11-17 {
  width: 25.61%;
  align-items: flex-end;
  text-align: right;
}

#div_block-100-31 {
  background-color: #2f0277;
  position: absolute;
  top: 10px;
  border-radius: 50px;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  right: 10px;
}

#div_block-36-31 {
  border-radius: 50px;
  background-color: #360484;
  opacity: 0.4;
}

#div_block-40-31 {
  background-color: #dd509a;
  border-radius: 50px;
}

@media (max-width: 1400px) {
  #div_block-3-17 {
    flex-direction: column;
    display: flex;
  }
}

@media (max-width: 1400px) {
  #div_block-8-17 {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1400px) {
  #div_block-234-17 {
    width: 100%;
    display: flex;
    margin-left: 0;
  }
}

@media (max-width: 1400px) {
  #div_block-6-17 {
    flex-direction: column;
    display: flex;
  }
}

@media (max-width: 1400px) {
  #div_block-11-17 {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
}

@media (max-width: 991px) {
  #div_block-234-17 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#headline-35-17 {
  font-size: 38px;
}

@media (max-width: 991px) {
  #headline-35-17 {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  #headline-35-17 {
    font-size: 30px;
  }
}

@media (max-width: 479px) {
  #headline-35-17 {
    font-size: 21px;
  }
}

#text_block-58-17 {
  color: #360484;
  font-family: masifa;
  line-height: 1.4;
}

#text_block-19-17 {
  color: #a275ea;
}

#text_block-35-31 {
  color: rgba(255, 255, 255, 0.44);
}

#text_block-39-31 {
  color: #fff;
}

#link-60-17 {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  url-encoded: true;
}

#link-60-17:hover {
  background-color: #6ad2f1;
}

#link-75-31 {
  padding-right: 5px;
  url-encoded: true;
  color: #703dc1;
}

#link-75-31:hover {
  color: #48b8d9;
}

#link-77-31 {
  padding-right: 5px;
  url-encoded: true;
  color: #703dc1;
}

#link-77-31:hover {
  color: #48b8d9;
}

#link-79-31 {
  padding-right: 5px;
  url-encoded: true;
  color: #703dc1;
}

#link-79-31:hover {
  color: #48b8d9;
}

#link-81-31 {
  padding-right: 5px;
  url-encoded: true;
  color: #703dc1;
}

#link-81-31:hover {
  color: #48b8d9;
}

#link-83-31 {
  padding-right: 5px;
  url-encoded: true;
  color: #703dc1;
}

#link-83-31:hover {
  color: #48b8d9;
}

#link-103-31 {
  url-encoded: true;
}

#link-34-31 {
  url-encoded: true;
  margin-left: 0;
  justify-content: space-between;
}

#link-38-31 {
  url-encoded: true;
  margin-left: 0;
  margin-top: 8px;
  justify-content: space-between;
}

#fancy_icon-57-17 {
  color: #360484;
}

#fancy_icon-57-17 > svg {
  width: 24px;
  height: 24px;
}

#fancy_icon-57-17 {
  margin-bottom: -5px;
}

#fancy_icon-76-31 > svg {
  width: 30px;
  height: 30px;
}

#fancy_icon-78-31 > svg {
  width: 30px;
  height: 30px;
}

#fancy_icon-80-31 > svg {
  width: 30px;
  height: 30px;
}

#fancy_icon-82-31 > svg {
  width: 30px;
  height: 30px;
}

#fancy_icon-84-31 > svg {
  width: 30px;
  height: 30px;
}

#fancy_icon-102-31 {
  color: #fff;
}

#fancy_icon-102-31 > svg {
  width: 24px;
  height: 24px;
}

#fancy_icon-102-31 {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#fancy_icon-41-31 {
  color: #fff;
}

#fancy_icon-41-31 > svg {
  width: 20px;
  height: 20px;
}

#fancy_icon-41-31 {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#modal-31-31 {
  backdrop-color: rgba(54, 4, 132, 0.97);
  modal-position: center;
  background-color: transparent;
  z-index: 300;
}

.oxy-pro-menu-list {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.oxy-pro-menu .oxy-pro-menu-list .menu-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition-property: background-color, color, border-color;
}

.oxy-pro-menu-list > .menu-item {
  white-space: nowrap;
}

.oxy-pro-menu .oxy-pro-menu-list .menu-item a {
  text-decoration: none;
  border-style: solid;
  border-width: 0;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color, border-color;
  border-color: transparent;
}

.oxy-pro-menu .oxy-pro-menu-list li.current-menu-item > a,
.oxy-pro-menu .oxy-pro-menu-list li.menu-item:hover > a {
  border-color: currentColor;
}

.oxy-pro-menu .menu-item,
.oxy-pro-menu .sub-menu {
  position: relative;
}

.oxy-pro-menu .menu-item .sub-menu {
  padding: 0;
  flex-direction: column;
  white-space: nowrap;
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 9999999;
  top: 100%;
  transition-property: opacity, transform, visibility;
}

.oxy-pro-menu-off-canvas .sub-menu:before,
.oxy-pro-menu-open .sub-menu:before {
  display: none;
}

.oxy-pro-menu .menu-item .sub-menu.aos-animate,
.oxy-pro-menu-init .menu-item .sub-menu[data-aos^="flip"] {
  visibility: visible;
}

.oxy-pro-menu-container:not(.oxy-pro-menu-init)
  .menu-item
  .sub-menu[data-aos^="flip"] {
  transition-duration: 0s;
}

.oxy-pro-menu .sub-menu .sub-menu,
.oxy-pro-menu.oxy-pro-menu-vertical .sub-menu {
  left: 100%;
  top: 0;
}

.oxy-pro-menu .sub-menu.sub-menu-left {
  right: 0;
  left: auto !important;
  margin-right: 100%;
}

.oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
  margin-right: 0;
}

.oxy-pro-menu .sub-menu li.menu-item {
  flex-direction: column;
}

.oxy-pro-menu-mobile-open-icon,
.oxy-pro-menu-mobile-close-icon {
  display: none;
  cursor: pointer;
  align-items: center;
}

.oxy-pro-menu-off-canvas .oxy-pro-menu-mobile-close-icon,
.oxy-pro-menu-open .oxy-pro-menu-mobile-close-icon {
  display: inline-flex;
}

.oxy-pro-menu-mobile-open-icon > svg,
.oxy-pro-menu-mobile-close-icon > svg {
  fill: currentColor;
}

.oxy-pro-menu-mobile-close-icon {
  position: absolute;
}

.oxy-pro-menu.oxy-pro-menu-open .oxy-pro-menu-container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 2147483642 !important;
  background-color: #fff;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-container {
  transition-property: opacity, transform, visibility;
}

.oxy-pro-menu
  .oxy-pro-menu-container.oxy-pro-menu-container[data-aos^="slide"] {
  transition-property: transform;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container,
.oxy-pro-menu
  .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container[data-aos^="flip"] {
  visibility: visible !important;
}

.oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list,
.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.oxy-pro-menu.oxy-pro-menu-open > .oxy-pro-menu-container {
  max-height: 100vh;
  overflow: auto;
  width: 100%;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas > .oxy-pro-menu-container {
  max-height: 100vh;
  overflow: auto;
  z-index: 1000;
}

.oxy-pro-menu-container > div:first-child {
  margin: auto;
}

.oxy-pro-menu-off-canvas-container {
  display: flex !important;
  position: fixed;
  width: auto;
  align-items: center;
  justify-content: center;
}

.oxy-pro-menu-off-canvas-container a,
.oxy-pro-menu-open-container a {
  word-break: break-word;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas .oxy-pro-menu-list {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas
  .oxy-pro-menu-container
  .oxy-pro-menu-list
  .menu-item,
.oxy-pro-menu.oxy-pro-menu-open
  .oxy-pro-menu-container
  .oxy-pro-menu-list
  .menu-item {
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas .sub-menu,
.oxy-pro-menu.oxy-pro-menu-open .sub-menu {
  display: none;
  visibility: visible;
  opacity: 1;
  position: static;
  align-items: center;
  justify-content: center;
  white-space: normal;
  width: 100%;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas .menu-item,
.oxy-pro-menu.oxy-pro-menu-open .menu-item {
  justify-content: center;
  min-height: 32px;
}

.oxy-pro-menu .menu-item.menu-item-has-children,
.oxy-pro-menu .sub-menu .menu-item.menu-item-has-children {
  flex-direction: row;
  align-items: center;
}

.oxy-pro-menu .menu-item > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas
  .menu-item-has-children
  > a
  .oxy-pro-menu-dropdown-icon-click-area,
.oxy-pro-menu.oxy-pro-menu-open
  .menu-item-has-children
  > a
  .oxy-pro-menu-dropdown-icon-click-area {
  min-width: 32px;
  min-height: 32px;
}

.oxy-pro-menu
  .menu-item-has-children
  > a
  .oxy-pro-menu-dropdown-icon-click-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oxy-pro-menu .menu-item-has-children > a svg {
  width: 1.4em;
  height: 1.4em;
  fill: currentColor;
  transition-property: transform;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas .menu-item > a svg,
.oxy-pro-menu.oxy-pro-menu-open .menu-item > a svg {
  width: 1em;
  height: 1em;
}

.oxy-pro-menu-off-canvas
  .oxy-pro-menu-container:not(.oxy-pro-menu-dropdown-links-toggle)
  .oxy-pro-menu-dropdown-icon-click-area,
.oxy-pro-menu-open
  .oxy-pro-menu-container:not(.oxy-pro-menu-dropdown-links-toggle)
  .oxy-pro-menu-dropdown-icon-click-area {
  display: none;
}

.oxy-pro-menu-off-canvas
  .menu-item:not(.menu-item-has-children)
  .oxy-pro-menu-dropdown-icon-click-area,
.oxy-pro-menu-open
  .menu-item:not(.menu-item-has-children)
  .oxy-pro-menu-dropdown-icon-click-area {
  min-height: 32px;
  width: 0;
}

.oxy-pro-menu.oxy-pro-menu-off-canvas
  .oxy-pro-menu-show-dropdown:not(.oxy-pro-menu-dropdown-links-toggle)
  .oxy-pro-menu-list
  .menu-item-has-children,
.oxy-pro-menu.oxy-pro-menu-open
  .oxy-pro-menu-show-dropdown:not(.oxy-pro-menu-dropdown-links-toggle)
  .oxy-pro-menu-list
  .menu-item-has-children {
  padding-right: 0;
}

.oxy-pro-menu-container .menu-item a {
  width: 100%;
  text-align: center;
}

.oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  ul:not(.sub-menu)
  > li
  > .sub-menu {
  top: 100%;
  left: 0;
}

.oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  .sub-menu
  .sub-menu {
  top: 0;
  left: 100%;
}

.oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  a {
  -webkit-tap-highlight-color: transparent;
}

.oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container
  .menu-item-has-children
  ul,
.oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container
  .menu-item-has-children
  ul {
  border-radius: 0 !important;
  width: 100%;
}

.oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: none;
}

.sub-menu .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: auto;
}

.sub-menu .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
  pointer-events: none;
}

.sub-menu .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
  pointer-events: none;
}

.oxy-pro-menu-dropdown-animating-out {
  pointer-events: none;
}

.oxy-pro-menu-list .menu-item a {
  border-color: transparent;
}

.oxy-pro-menu-list .menu-item.current-menu-item a,
.oxy-pro-menu-list .menu-item.menu-item.menu-item.menu-item a:hover {
  border-color: currentColor;
}

#-pro-menu-42-31 .oxy-pro-menu-list .menu-item,
#-pro-menu-42-31 .oxy-pro-menu-list .menu-item a {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: 0.3s;
}

#-pro-menu-42-31 .oxy-pro-menu-list .menu-item a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 0;
}

#-pro-menu-42-31
  .oxy-pro-menu-list
  .menu-item.menu-item.menu-item.menu-item
  a:hover {
  background-color: #24005e;
}

#-pro-menu-42-31 .oxy-pro-menu-list {
  flex-direction: column;
}

#-pro-menu-42-31 .oxy-pro-menu-list > .menu-item {
  white-space: normal;
}

#-pro-menu-42-31
  .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  ul:not(.sub-menu)
  > li
  > .sub-menu {
  top: 0;
  left: 100%;
}

#-pro-menu-42-31 .oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
  margin-right: 100%;
}

#-pro-menu-42-31 .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: auto;
}

#-pro-menu-42-31 .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
  pointer-events: none;
}

#-pro-menu-42-31
  .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
  pointer-events: none;
}

#-pro-menu-42-31 {
  margin-top: 12px;
}

#-pro-menu-42-31:hover {
  oxy-pro-menu-slug-oxypromenulistmenuitemmenuitemmenuitemmenuitemabackground-color: #24005e;
}

#-pro-menu-47-31 .oxy-pro-menu-list .menu-item,
#-pro-menu-47-31 .oxy-pro-menu-list .menu-item a {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: 0.3s;
}

#-pro-menu-47-31 .oxy-pro-menu-list .menu-item a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 0;
}

#-pro-menu-47-31
  .oxy-pro-menu-list
  .menu-item.menu-item.menu-item.menu-item
  a:hover {
  background-color: #24005e;
}

#-pro-menu-47-31 .oxy-pro-menu-list {
  flex-direction: column;
}

#-pro-menu-47-31 .oxy-pro-menu-list > .menu-item {
  white-space: normal;
}

#-pro-menu-47-31
  .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  ul:not(.sub-menu)
  > li
  > .sub-menu {
  top: 0;
  left: 100%;
}

#-pro-menu-47-31 .oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
  margin-right: 100%;
}

#-pro-menu-47-31 .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: auto;
}

#-pro-menu-47-31 .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
  pointer-events: none;
}

#-pro-menu-47-31
  .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
  pointer-events: none;
}

#-pro-menu-47-31 {
  margin-top: 12px;
}

#-pro-menu-47-31:hover {
  oxy-pro-menu-slug-oxypromenulistmenuitemmenuitemmenuitemmenuitemabackground-color: #24005e;
}

#-pro-menu-52-31 .oxy-pro-menu-list .menu-item,
#-pro-menu-52-31 .oxy-pro-menu-list .menu-item a {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: 0.3s;
}

#-pro-menu-52-31 .oxy-pro-menu-list .menu-item a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 0;
}

#-pro-menu-52-31
  .oxy-pro-menu-list
  .menu-item.menu-item.menu-item.menu-item
  a:hover {
  background-color: #24005e;
}

#-pro-menu-52-31 .oxy-pro-menu-list {
  flex-direction: column;
}

#-pro-menu-52-31 .oxy-pro-menu-list > .menu-item {
  white-space: normal;
}

#-pro-menu-52-31
  .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  ul:not(.sub-menu)
  > li
  > .sub-menu {
  top: 0;
  left: 100%;
}

#-pro-menu-52-31 .oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
  margin-right: 100%;
}

#-pro-menu-52-31 .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: auto;
}

#-pro-menu-52-31 .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
  pointer-events: none;
}

#-pro-menu-52-31
  .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
  pointer-events: none;
}

#-pro-menu-52-31 {
  margin-top: 12px;
}

#-pro-menu-52-31:hover {
  oxy-pro-menu-slug-oxypromenulistmenuitemmenuitemmenuitemmenuitemabackground-color: #24005e;
}

#-pro-menu-58-31 .oxy-pro-menu-list .menu-item,
#-pro-menu-58-31 .oxy-pro-menu-list .menu-item a {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: 0.3s;
}

#-pro-menu-58-31 .oxy-pro-menu-list .menu-item a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 0;
}

#-pro-menu-58-31
  .oxy-pro-menu-list
  .menu-item.menu-item.menu-item.menu-item
  a:hover {
  background-color: #24005e;
}

#-pro-menu-58-31 .oxy-pro-menu-list {
  flex-direction: column;
}

#-pro-menu-58-31 .oxy-pro-menu-list > .menu-item {
  white-space: normal;
}

#-pro-menu-58-31
  .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  ul:not(.sub-menu)
  > li
  > .sub-menu {
  top: 0;
  left: 100%;
}

#-pro-menu-58-31 .oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
  margin-right: 100%;
}

#-pro-menu-58-31 .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: auto;
}

#-pro-menu-58-31 .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
  pointer-events: none;
}

#-pro-menu-58-31
  .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
  pointer-events: none;
}

#-pro-menu-58-31 {
  margin-top: 12px;
}

#-pro-menu-58-31:hover {
  oxy-pro-menu-slug-oxypromenulistmenuitemmenuitemmenuitemmenuitemabackground-color: #24005e;
}

#-pro-menu-33-31 .oxy-pro-menu-list .menu-item,
#-pro-menu-33-31 .oxy-pro-menu-list .menu-item a {
  font-family: masifa;
  text-transform: uppercase;
  color: #fff;
}

#-pro-menu-33-31 .oxy-pro-menu-list .menu-item a {
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
}

#-pro-menu-33-31 .oxy-pro-menu-off-canvas-container,
#-pro-menu-33-31 .oxy-pro-menu-open-container {
  background-color: #360484;
}

#-pro-menu-33-31 .oxy-pro-menu-list {
  flex-direction: column;
}

#-pro-menu-33-31 .oxy-pro-menu-list > .menu-item {
  white-space: normal;
}

#-pro-menu-33-31
  .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
  ul:not(.sub-menu)
  > li
  > .sub-menu {
  top: 0;
  left: 100%;
}

#-pro-menu-33-31 .oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
  margin-right: 100%;
}

#-pro-menu-33-31 .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
  pointer-events: auto;
}

#-pro-menu-33-31 .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
  pointer-events: none;
}

#-pro-menu-33-31
  .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
  pointer-events: none;
}

@media (max-width: 991px) {
  #-pro-menu-33-31 .oxy-pro-menu-mobile-close-icon svg {
    color: #fff;
  }

  #-pro-menu-33-31 .oxy-pro-menu-mobile-close-icon:hover svg {
    color: #6ad2f1;
  }

  #-pro-menu-33-31
    .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container
    .menu-item-has-children
    ul,
  #-pro-menu-33-31
    .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container
    .menu-item-has-children
    ul {
    background-color: #360484;
  }

  #-pro-menu-33-31 .oxy-pro-menu-list {
    flex-direction: column;
  }

  #-pro-menu-33-31 .oxy-pro-menu-list > .menu-item {
    white-space: normal;
  }

  #-pro-menu-33-31
    .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container)
    ul:not(.sub-menu)
    > li
    > .sub-menu {
    top: 0;
    left: 100%;
  }

  #-pro-menu-33-31 .oxy-pro-menu-list > .menu-item > .sub-menu.sub-menu-left {
    margin-right: 100%;
  }

  #-pro-menu-33-31 .oxy-pro-menu-dropdown-animating[data-aos*="down"] {
    pointer-events: auto;
  }

  #-pro-menu-33-31 .oxy-pro-menu-dropdown-animating[data-aos*="right"] {
    pointer-events: none;
  }

  #-pro-menu-33-31
    .oxy-pro-menu-dropdown-animating.sub-menu-left[data-aos*="left"] {
    pointer-events: none;
  }
}
